.box1 {
    background-color: plum;
    width: 20%;
    height: 700px;
    margin: 2.5% 2%;
}

.box2 {
    background-color: aquamarine;
    width: 20%;
    height: 700px;
    margin: 2.5% 2% ;
}

.box3 {
    background-color: salmon;
    width: 20%;
    height: 700px;
    margin: 2.5% 2%;
}

.box4 {
    background-color: cornflowerblue;
    width: 20%;
    height: 700px;
    margin: 2.5% 2%;
}

body {
    display: flex;
    justify-content: center;

}

img {
    width: 300px;
    background-color: aquamarine;
    margin: 0em 2em;
}